<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Toyboat.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>0466EAF21D1E30B100EA5B2D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0466EB081D1E30B100EA5B2D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0466EB131D1E30B100EA5B2D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
